sphinx
build
sphinx-autobuild
canonical-sphinx-config
sphinx-modern-pdf-style
myst-parser
# canonical-sphinx[full]
packaging
sphinxcontrib-svg2pdfconverter[CairoSVG]
sphinx-last-updated-by-git
sphinx-sitemap
