{# Module: A single page of a multi-page index #}
{% extends "page.html" %}

{% block head_title -%}
  {{ _("Index") }} - {{ docstitle|striptags|e }}
{%- endblock head_title %}

{% block content %}
<main class="l-docs__main" id="content">
  <article role="main">
  <div class="row">
  <div class="col-12">

{% block content_inner %}
<section class="genindex-section">
  <h1 id="index">{{ _('Index') }}</h1>
  <div class="genindex-jumpbox">
    {% for key, dummy in genindexentries -%}
    <a href="{{ pathto('genindex-' + key) }}"><strong>{{ key }}</strong></a>
    {% if not loop.last %}| {% endif %}
   {%- endfor %}
  </div>

  <p>
    <a href="{{ pathto('genindex-all') }}">
      <strong>{{ _('Full index on one page') }}</strong>
      ({{ _('can be huge') }})
    </a>
  </p>
</section>
{% endblock content_inner %}

</div></div>
</article></main>
{% endblock %}
