/*
  Vanilla settings and variables. These values are put into memory _before_ Vanilla is
  rendered, so they cascade down the Vanilla stack.
*/

$text-max-width: 100%;
$font-base-family: 'Ubuntu, Arial, "libra sans", sans-serif';
$font-monospace: '"Ubuntu Mono", Consolas, Monaco, Courier, monospace';
$font-weight-h1: 500;
$font-size-h1: 32px;
$font-line-height-h1: 40px;
$font-weight-h2: 300;
$font-size-h2: 32px; 
$font-line-height-h2: 40px;
$font-weight-h3: 500;
$font-size-h3: 24px;
$font-line-height-h3: 32px;
$font-weight-h4: 300;
$font-size-h4: 24px;
$font-line-height-h4: 32px;
$font-weight-h5: 600;
$font-size-h5: 18px;
$font-line-height-h5: 24px;
$font-weight-h6: 400;
$font-size-h6: 18px;
$font-line-height-h6: 24px;
$font-weight-p: 400;
$font-size-p: 14px;
$font-line-height-p: 20px;