/*
  Vanilla settings and variables. These values are put into memory _before_ Vanilla is
  rendered, so they cascade down the Vanilla stack.
*/

$text-max-width: 100%;
$font-base-family: 'Ubuntu, Arial, "libra sans", sans-serif';
$font-monospace: '"Ubuntu Mono", Consolas, Monaco, Courier, monospace';

$font-weight-h1: 500;
$font-size-h1: 2rem;        // 32px
$font-line-height-h1: 2.5rem; // 40px

$font-weight-h2: 300;
$font-size-h2: 2rem;        // 32px
$font-line-height-h2: 2.5rem; // 40px

$font-weight-h3: 500;
$font-size-h3: 1.5rem;      // 24px
$font-line-height-h3: 2rem;   // 32px

$font-weight-h4: 300;
$font-size-h4: 1.5rem;      // 24px
$font-line-height-h4: 2rem;   // 32px

$font-weight-h5: 600;
$font-size-h5: 1.125rem;    // 18px
$font-line-height-h5: 1.5rem; // 24px

$font-weight-h6: 400;
$font-size-h6: 1.125rem;    // 18px
$font-line-height-h6: 1.5rem; // 24px

$font-weight-p: 400;
$font-size-p: 0.875rem;     // 14px
$font-line-height-p: 1.25rem; // 20px