@import "../../../../node_modules/vanilla-framework"; // Imports from node_modules
@include vanilla;

// Custom styles

.heading-test-scss{
  color: rgb(0, 128, 17);
}

.localtoc {
  & > ul {
    margin-left: 0;
    padding-left: 0;

    & > li {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;

      & > a {
        display: none;
      }

      & > ul {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

div.localtoc ul {
    list-style: none;
    padding-left: 0;
}